
    <!-- CODEFACTORY HEADER -->
    <nav class="navbar navbar-expand-sm navbar-light mb-0 pb-0 d-flex">

        <a class="navbar-brand logo" href="https://codefactory.wien/en/home-en/"><img src="../../assets/img/logo.png"></a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse pr-3" id="navbarResponsive">
            <ul class="nav textDark ml-auto flex-nowrap textDark">
                <li class="nav-item">
                    <a class="nav-link textDark" id="hide_dropdown_home"href="https://codefactory.wien/en/home-en/">HOME</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle textDark" id="hide_dropdown_course" href="https://codefactory.wien/en/home-en/"
                        id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        OUR COURSES
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">Full Stack Web Developer</a>
                        <a class="dropdown-item" href="">Front End Web Developer</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle textDark" id="hide_dropdown_company" href="https://codefactory.wien/en/home-en/" id="navbarDropdown"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        OUR COMPANIES
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">Career_Net</a>
                        <a class="dropdown-item" href="">Brand Ambassador</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link textDark" href="https://codefactory.wien/en/home-en/">NEWS</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle textDark" href="https://codefactory.wien/en/home-en/" id="navbarDropdown"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ABOUT US
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">Team</a>
                        <a class="dropdown-item" href="">Payment and Financing Options</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link textDark" href="https://codefactory.wien/en/home-en/">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr>


    <!-- ALUMNI HEADER -->
    <nav class="navbar navbar-expand navbar-light navbar_alumni my-0 bg-white" id="sticky">

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar_alumni_text">

            <ul class="navbar-nav textDark navbar_alumni_text font-weight-bold mx-auto"  id="alumni">
                <li class="nav-item">
                    <a class="nav-link textDark text-success" routerLink="">HOME</a>
                </li>

                <li class="nav-item textDark">
                    <a class="nav-link textDark" routerLink="/stories">STORIES</a>
                </li>
                <!-- routerLink="/stories" -->
                <li class="nav-item">
                    <a class="nav-link textDark" routerLink="/careers">CAREER</a>
                </li>
                <!-- routerLink="/career" -->
                <li class="nav-item">
                    <a class="nav-link textDark" routerLink="/directory">DIRECTORY</a>
                </li>
                <!-- routerLink="/directory" -->
                <li class="nav-item">
                    <a class="nav-link textDark" routerLink="/events">EVENTS</a>
                </li>
                <!-- routerLink="/events" -->
            </ul>
        </div>
 
    </nav>
           
    <div id="spacer"></div>
    <!-- /header ends-->
    