<div class="container textDark">
    <div>
        <table class="table table-striped table-hover">
        <thead id="test" class="thead-dark">
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th class="hide_mobile" scope="col">My current working field</th>
            <th class="hide_mobile" scope="col">My current job title</th>
            <th class="hide_email" cope="col">E-Mail</th>
            <th cope="col"></th>
        </thead>
        </table>
    </div>
</div>
