<!-- Jumbotron Section -->
<div class="jumbotron jumbotron-fluid my-0">
  <div class="container">
    <h1 class="display-4">CodeFactory Alumni</h1>
    <p class="lead">Meet the latest graduates from our coding classes.</p>
  </div>
</div>

<!-- Overview Section -->

<div class="row bg-secondary d-flex justify-content-center text-center pt-5">
  <div class="col-lg-2">
    <a href="#prevStories">
      <img src="../../assets/img/scroll.png" alt="Stories">
      <h5>Stories</h5>
      <p>Where our alumni came from and what they are doing now</p>
    </a>
  </div>
  <div class="col-lg-2">
    <a href="#prevCareers">
      <img src="../../assets/img/rocket.png" alt="Careers">
      <h5>Careers</h5>
      <p>Looking for a job as a developer? Here are companies that are hiring!</p>
    </a>
  </div>
  <div class="col-lg-2">
    <a href="#prevDirectory">
      <img src="../../assets/img/directory.png" alt="Directory">
      <h5>Alumni Directory</h5>
      <p>Browse our list of alumni.</p>
    </a>
  </div>
  <div class="col-lg-2">
    <a href="#prevEvents">
      <img src="../../assets/img/events.png" alt="Events">
      <h5>Events</h5>
      <p>Get up to date with the latest technologies, meet former students and future colleagues!</p>
    </a>
  </div>
</div>

<!-- Preview Section -->
<app-previews></app-previews>
